body {
	padding: 10px;
	text-align: center;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  box-sizing: content-box;
}
.container {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  padding: 20px 0;
  max-width: 500px;
}
button {
  margin:20px;
}
#output {
  max-width:500px;  
  padding:25px; 
  font-weight: bold;
  min-width: 416px;
}
.col-12 {
  width:100%;
  justify-content:center;
  text-align:center;
  display:flex;
}
.win {
  border: 3px dashed green; 
  background: #efefef; 
}
.draw {
  border: 3px dashed yellow; 
  background: #efefef; 
}
.lose {
  border: 3px dashed red; 
  background: #efefef; 
}
#result {  
  margin:10px;
  font-size: 40px;
}
.scoreBoard {
  position:relative;
  border: 2px solid grey;
  max-width:200px;
  padding: 10px 0;
  border-radius: 5px;
  margin: 20px 0;
  background: #dcefed;
  font-weight: bold;
  min-height: 104px;
}
.score {
  position: absolute;
  background-color: #30e5cd;
  padding: 3px; 
}
#userScore {
  transform: translateY(-50%);
  top: 50%;
  left: -20px;
}
#compScore {
  transform: translateY(-50%);
  top: 50%;
  right: -25px;
}
.endGame {
  background: rgba(2, 2, 2, 0.3);
}
